.block {
    display: flex;
    justify-content: center;
}
.kat { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 100px;
    width: 14rem;
    margin: 0.3rem;
    padding: 0.5rem;
    height: 3.5rem;
}
.kat:hover {
    color: rgb(110, 204, 98);
}
a {
    color: #000;

}
