.auth__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.auth__title {
	font-weight: 500;
	font-size: 25px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #0f303f;
	margin-bottom: 40px;
}
.auth__login {
	width: 425px;
	background: white;
	padding: 77px 87px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
/*  */

.auth__btn {
	width: 100%;
	background: #0f303f;
	font-weight: 800;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #eae9e8;
	border: 1px solid #0f303f;
	padding: 15px 0;
}
.auth__info {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	color: #0f303f;
}
.img__password {
	display: inline;
	width: 250px;
	border-bottom: 1px solid #254a5a;
	margin-right: 10px;
}
.auth__block {
	margin-top: 40px;
}
.auth__info a {
	color: #0f303f;
}
.auth__info a:hover {
	color: #e64926;
}
.auth__registration {
	width: 521px;
}
.auth__checked {
	margin-top: 15px;
}
.auth__checked div {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #0f303f;
	margin: 10px 0;
}
.auth__checked div a {
	color: #0f303f;
}
.auth__checked div a:hover {
	color: #e64926;
}
