.shop__wrapper {
	width: 100%;
	position: relative;
}
.shop__back {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0.5;
	height: 100%;
}
.shop__slider {
}
